@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
	<div class="col-md-10">

		<br />
		<h1>Some Title</h1>
		<br />

		@foreach (var item in Model)
		{

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-2">
							<div class="thumbnail">
								<a href="@Url.Action("Details", new { item.ProductId })">
									<img src="@Url.Content(item.ThumbNail)" , title="Click to see more" alt="Details" class="img-thumbnail" />
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="caption">
									<h3>@item.Name</h3>
									<h4>@string.Format("{0:C}", item.Price)</h4>
									<p>@item.ShortDesc</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>