@model RestaurantApp.ViewModels.ShoppingCartViewModel
@{
	ViewBag.Title = "Shopping Cart";
}

<h3 style="color: white;">
	<em>Review</em> your cart:
</h3>
<p class="button">
	@Html.ActionLink("Checkout >> ", "AddressAndPayment", "Checkout")
</p>
<div id="update-message">
</div>
<table class="table table-responsive">
	<thead>
		<tr style="color: white;">
			<th>
				Product Name
			</th>
			<th>
				Price (each)
			</th>
			<th>
				Quantity
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in
					Model.CartItems)
		{
			<tr id="row-@item.RecordId">
				<td>
					@Html.ActionLink(item.Product.Name, "Details",
			   "Products", new { ProductId = item.ProductId }, null)
				</td>
				<td style="color: green;">
					@item.Product.Price
				</td>
				<td id="item-count-@item.ProductId" style="color: green;">
					@item.Count
				</td>
				<td>
					<a href="#" class="RemoveLink"
					   data-id="@item.RecordId">
						Remove
						from cart
					</a>
				</td>
			</tr>
		}
		<tr>
			<td style="color: white;">
				Total
			</td>
			<td></td>
			<td></td>
			<td id="cart-total" style="color: green;">
				@Model.CartTotal
			</td>
		</tr>
	</tbody>
</table>



