@{ 
	string title = ViewBag.Title;
}

<div class="container">
	<div class="col-md-10">

		<br />
		<h1>@title</h1>
		<br />

		@foreach (var item in Model)
		{
			int id = -1;
			switch (title)
			{
				case "Appetizers":
					id = item.AppetizerId;
					break;
				case "Drinks":
					id = item.DrinkId;
					break;
				case "Main Course":
					id = item.MainCourseId;
					break;
				case "Desserts":
					id = item.DessertId;
					break;
			}

			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<a href="@Url.Action("Details", new { id })">
						<img src="@Url.Content(item.ThumbNail)" , title="Click to see more" alt="Details" class="img-thumbnail" />
					</a>
				</div>
				<div class="caption">
					<h3>@item.Name</h3>
					<h4>@string.Format("{0:C}", item.Price)</h4>
					<p>@item.ShortDesc</p>
				</div>
			</div>
		}
	</div>
</div>

